<h1>會員註冊</h1>

<%= form_for(@user, url: '/account_verify') do |form| %>
  <div class="fields">
    <%= form.label :email, '信箱' %>
    <%= form.email_field :email  %>
  </div>

  <div class="fields">
    <%= form.label :username, '姓名' %>
    <%= form.text_field :username %>
  </div>

  <div class="fields">
    <%= form.label :password, '密碼' %>
    <%= form.password_field :password %>
  </div>

  <div class="actions">
    <%= form.submit '註冊' %>
  </div>
<% end %>
