<%# 按下 like，會印出 hello %>
<h1>
  <%= @course.name %>
  <button id="like-btn">Like!</button>
</h1>

<%= form_for(@review, url: course_reviews_path(@course), remote: true) do |form| %>

<div class="fields">
  <%= form.label :rating %>
  <%= form.select :rating, [1, 2, 3, 4, 5], include_blank: true %>
</div>

<div class="fields">
  <%= form.label :title %>
  <%= form.text_field :title %>
</div>

<div class="fields">
  <%= form.label :content %>
  <%= form.text_area :content %>
</div>

<%= form.submit '送出' %>
<% end %>

<h2>評論</h2>
<div class="review-container">
  <%= render @reviews %>
</div>
