<h1>
  <%= @course.name %>
  <% if user_signed_in? && current_user.favorite_courses.include?(@course) %>
    <button id="like-btn" class="favorited" data-id="<%= @course.id %>">Like!</button>
  <% else %>
    <button id="like-btn" data-id="<%= @course.id %>">Like!</button>
  <% end %>
</h1>

<%= form_for(@review, url: course_reviews_path(@course), remote: true) do |form| %>

<div class="fields">
  <%= form.label :rating %>
  <%= form.select :rating, [1, 2, 3, 4, 5], include_blank: true %>
</div>

<div class="fields">
  <%= form.label :title %>
  <%= form.text_field :title %>
</div>

<div class="fields">
  <%= form.label :content %>
  <%= form.text_area :content %>
</div>

<%= form.submit '送出' %>
<% end %>

<h2>評論</h2>
<div class="review-container">
  <%= render @reviews %>
</div>
